<div class="jumbotron">
  <header class="container-fluid">
    <h1>
      <fa name="wifi"></fa>&emsp;{{title}}
    </h1>
  </header>
</div>
<div class="container">

  <div class="alert alert-info p-4" *ngIf="msg">
    <fa name="info"></fa> {{msg}}
  </div>

  <div class="row">
    <div class="col-sm-3 mt-2 ml-1 mr-1" *ngFor="let s of ['prepaid','postpaid','broadband']" title="Plans By Speed">
      <div class="card bg-light " style="width:250px;">
        
        <div class="card-title text-center mt-2">
          <h4><strong>{{s}}</strong></h4>
        </div>
        <!--<img class="card-img-top" [src]="g=='MALE'?maleLogo:(g=='FEMALE'?femaleLogo:othersLogo)" height="65px" />-->
        <div class="card-body text-center">
          <h3>
            <a routerLink="/listPlans/product/{{s}}">{{plans | type : s}}</a>
          </h3>
        </div>
      </div>
    </div>
    
    <div class="col-sm-2 mt-2 ml-1 mr-1" title="All Plans">
      <div class="card bg-light " style="width:120px;">
        
        <div class="card-title text-center mt-2">
          <h4><strong>Plans</strong></h4>
        </div>
        <!--<img class="card-img-top" [src]="logoUrl" />-->
        <div class="card-body text-center">
          <h3>
            <a routerLink="/listPlans">{{plans.length}}</a>
          </h3>
        </div>
      </div>
    </div>
  </div>