<html>

<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">
  <!-- <link rel="stylesheet" type="text/css" href="mystyle.css"> -->
</head>

<body>
  <br />
  <nav>
    <a href="#phone">For Phone</a>
    <a href="#home">For Home</a>
    <a href="#offers">Offers</a>
  </nav>
  <section id="phone">
    <span>
      <h3 style="padding:15px">Postpaid</h3>
      <div class="zoom">
        <table style="border:1px; border-spacing: 12px; width: 50%; padding: 20px; margin:2px ;">
          <tr>
            <td> Monthly Rental of</td>
          </tr>
          <tr>
            <td>399/-</td>
          </tr>
          <tr>
            <td>Benefits:</td>
          </tr>
          <tr>
            <td> 3G/4G data : 75GB</td>
          </tr>
          <tr>
            <td>Unlimited Local/STD calls</td>
          </tr>
          <tr>
            <td> Roaming outgoing calls unlimited</td>
          </tr>
          <tr style="text-align:center">
            <td>
              <button type="submit" href="Buy">Buy</button>

            </td>
          </tr>

        </table>
      </div>
      <div class="zoom">
        <table style="border:1px; border-spacing: 12px; width: 50%; padding: 20px; margin:2px ;">
          <tr>
            <td> Monthly Rental of</td>
          </tr>
          <tr>
            <td>599/-</td>
          </tr>
          <tr>
            <td>Benefits:</td>
          </tr>
          <tr>
            <td> 3G/4G data : 100GB</td>
          </tr>
          <tr>
            <td>Unlimited Local/STD calls</td>
          </tr>
          <tr>
            <td> Roaming outgoing calls unlimited</td>
          </tr>

          <tr style="text-align:center">
            <td>
              <button type="submit" href="Buy">Buy</button>

            </td>
          </tr>

        </table>
      </div>
      <div class="zoom">
        <table style="border:1px; border-spacing: 12px; width: 50%; padding: 20px; margin:2px ;">
          <tr>
            <td> Monthly Rental of</td>
          </tr>
          <tr>
            <td>799/-</td>
          </tr>
          <tr>
            <td>Benefits:</td>
          </tr>
          <tr>
            <td> 3G/4G data : 150GB</td>
          </tr>
          <tr>
            <td>Unlimited Local/STD calls</td>
          </tr>
          <tr>
            <td> Roaming outgoing calls unlimited</td>
          </tr>

          <tr style="text-align:center">
            <td>
              <button type="submit" href="Buy">Buy</button>

            </td>
          </tr>

        </table>
      </div>
      

    </span>
    <span>
      <h3>Prepaid</h3>
      <form>
        <label>
          <h4>Enter mobile number:</h4>
        </label><input type="number" placeholder="Mobile No." pattern="[0-9]{10}" required />
        <label>
          <h4>Enter amount in rs.:</h4>
        </label>
        <input type="number" placeholder="Amount in Rs." required />

      </form>
      <table style="border:1px; border-bottom: 1px solid grey; border-spacing: 12px; width: 100%; padding: 20px; margin:2px ;">
        <tr>
          <th>MRP</th>
          <td>Rs. 199</td>
          <td>Rs. 399</td>
          <td>Rs. 599</td>

        </tr>
        <tr>
          <th>Validity</th>
          <td>28 days</td>
          <td>72 days</td>
          <td>120 days</td>

        </tr>
        <tr>
          <th>Local + STD</th>
          <td>Unlimited</td>
          <td>Unlimited</td>
          <td>Unlimited</td>

        </tr>
      </table>

    </span>
  </section>
  <section id="home">
    <section>
      <h3>Broadband</h3>
    </section>
  </section>
  <section id="offers">
    <section>
      <h3>Offers</h3>
    </section>
  </section>

</body>

</html>