<footer>

  <section>
    <div>
      <p>About Nexus India</p>
      <ul>
        <li>About Us</li>
        <li>Careers</li>
        <li>Site Map</li>
        <li>Our Brand</li>
        <li>Media Room</li>
        <li>Nexus Foundation</li>
        <li>Terms of Use</li>
        <li>Privacy Policy</li>
        <li>Regulatory Notices</li>
      </ul>
    </div>

    <div>
      <p>We Offer</p>
      <ul>
        <li>Nexus Postpaid</li>
        <li>Nexus Prepaid</li>
        <li>4G & Mobile Internet</li>
        <li>MyNexus App</li>
        <li>Music, Videos & More</li>
        <li>Nexus Roaming</li>
        <li>Smartphone & More</li>
        <li>Home Broadband</li>
      </ul>
    </div>

    <div>
      <p>Handy Links</p>
      <ul>
        <li>Recharge Online</li>
        <li>Pay bill Online</li>
        <li>Nexus Network Coverage</li>
        <li>Telemarketing Registration</li>
        <li>DND Registration</li>
        <li>GO Green</li>
        <li>NDNC Registry</li>
        <li>Shortcode & USSD info</li>
        <li>Security Awareness</li>
      </ul>
    </div>

    <div>
      <p>Help & Support</p>
      <ul>
        <li>Contact Us</li>
        <li>Find a Nexus Store</li>
        <li>FAQs</li>
        </ul>
    </div>

    <div>
      <p>Connect With Us</p>
      <ul>
        <li><img src="../assets/Images/fb.png" alt="FB icon"> Facebook </li>
        <li><img src="../assets/Images/twitter.png" alt="Twitter icon"> Twitter </li>
        <li><img src="../assets/Images/googleplus.png" alt="Google Plus icon"> Google+ </li>
        <li><img src="../assets/Images/linkedin.png" alt="Linkedin icon"> LinkedIn </li>
        <li><img src="../assets/Images/youtube.png" alt="youtube icon"> YouTube </li>
      </ul>
    </div>

  </section>

  <div class="actualFooter">
    Nexus India Private Limited, Zoho Corps Park, Lower Parell Road, Mumbai - 400013 India.
  </div>

</footer>
